<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089141520618-12u02ni3d0anqhb1n28k5uf9aks23udd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089141520618-12u02ni3d0anqhb1n28k5uf9aks23udd</string>
	<key>API_KEY</key>
	<string>AIzaSyAuVoo6zmJyfb1o1JiRW952zqTOa0TSC80</string>
	<key>GCM_SENDER_ID</key>
	<string>1089141520618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bytes.developer.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-3d84a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-3d84a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089141520618:ios:8db1e1959ae95b9cfb7f93</string>
</dict>
</plist>